* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background: #17181c;
  font: 300 1em "Fira Sans", sans-serif;
}

.header {
  color: chartreuse;
  font-size: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  height: 35vh;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 20px 1px;
}

.btn {
  font-size: 30px;
  width: 6em;
  height: 6em;
  padding: 20px;
  color: chartreuse;
  border: 2px solid gold;
  background: none;
  margin: 0 30px;
  transition: all 0.4s ease;
}

.game-info {
  margin-top: 20px;
  font-size: 30px;
  color: chartreuse;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

h2 {
  margin: 0;
  padding: 0;
}

.man-comp {
  display: flex;
  width: 100vh;
  justify-content: space-around;
}

.score {
  margin-top: 50px;
  display: flex;
  width: 100vh;
  justify-content: space-around;
}
