* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  color: #fff;
  background: #17181c;
  font: 300 1em "Fira Sans", sans-serif;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.raise {
  font-size: 50px;
  --color: #ffa260;
  --hover: #e5ff60;
}

button {
  color: var(--color);
  transition: 0.25s;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

button:hover,
button:focus {
  border-color: var(--hover);
  color: #fff;
}
